body {
    min-height: 100vh; /* ----Represents mean height of the window percentage-----  */
    display: flex;
    justify-content:center ;
    align-items: center;

}

.btncolor{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 8px;
    color: #fefefe;
    background:rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor:pointer;
    outline:none; /* ----get rids of unnecessary outline-----  */

}

.btncolor:hover{
    background: rgb(0,0,5);
}